@use 'variables' as *;

.app-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: clamp(12rem, 25vw, 18rem) 1fr;
}

.app-header {
    grid-column: 1 / -1;
    background-color: $bg-header;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-icon {
    width:2rem;
    height: 2rem;
    text-align: center;
    color: $text-main;
    background: $accent-dark;
    border-radius: 25%;
    padding-top: 0.5rem;
}

.logo h1 {
    font-size: 1.25rem;
    color: $text-main;
}

.search-form {
    max-width: 25rem;

    input {
        width: 100%;
        background-color: $bg-header;
        color: $text-main;
        border: 1px solid #fff;
        border-radius: 1rem;
        padding: 0.5rem 0.5rem;
        transition: 0.2s ease;
        outline: none;

        &:focus {
            background-color: $bg-input;
            border-color: $accent;
        }
    }
}

.user-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;

    .avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: lightskyblue;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

.login-box {
    background-color: $bg-sidebar;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    border: 1px solid $border-color;

    h2 {
        color: $text-main;
        margin-bottom: 0.5rem;
    }

    p {
        color: $text-muted;
        margin-bottom: 1.5rem;
        font-size: 0.9rem;
    }

    input {
        width: 100%;
        padding: 0.8rem;
        border-radius: 0.5rem;
        border: 1px solid $border-color;
        background-color: $bg-input;
        color: $text-main;
        margin-bottom: 1rem;
        outline: none;
        font-size: 1rem;
        transition: border-color 0.2s;

        &:focus {
            border-color: $accent;
        }
    }

    button {
        width: 100%;
        padding: 0.8rem;
        border-radius: 0.5rem;
        border: none;
        background-color: $accent;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: $accent-dark;
        }
    }
}
